# Prerequisites
*.d

# Compiled Shaders
*.spv

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Data/*.obj*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
release/

# ini, json
Data/options.json
Data/calibrationOptions.json
Data/imgui.ini
Data/log*.txt
